// main: base.scss

// define some color variables
$slate: #33373f;
$slateBlue: #4a5a64;

$lightBlue: #b3dee0;
$babyBlue: #daffff;

$beige: #e5dddc;

$purple: #893354;
$red: #e8565e;
$salmon: #fc8368;

$darkTurquoise: #168771;
$turquoise: #14c288;

$green1: #34c883;
$green2: #53ce7e;
$green3: #71d479;
$green4: #90da73;

$appleGreen: #b1e06e;
