// out: ../public/css/drawTool.css

@import "colors";
@import "fonts";
@import "animations";
@import "buttons";
@import "crossbrowser";

/* DRAW TOOL */

canvas{
  // width: 420px;
  // height: 210px;
  max-width: 90%;
  max-height: 80%;
  background-color: rgba(255,255,255,0.7);
}

#sidebar #sidebarContent{
  #colorPalette{
    text-align: center;

    button{
    	width: 60px;
    	height: 60px;
      margin: 10px;
    	padding: 10px;
    	border: 6px solid;
    	background-color: rgba(255,255,255,0);
      @include property('border-radius', '30px');
      @include transition('all 1s ease');
    }
  }
}
