<div id="games">
  <div class="top">
    <h1>Prüfungen</h1>
    <div class="contentCollection" data-scrollbar="dark"><div class="collectionInner"></div></div>
    <a onClick="closeSidebarToSendContent();" class="confirmBtn disabled">Spieler Prüfung absolvieren lassen</a>
  </div>
  <!-- dotted line -->
  <svg width="100%" height="6px" class="dottedLine">
    <line x1="0" x2="2000" y1="2" y2="2" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-dasharray="6, 8"/>
  </svg>
  <div class="bottom">
    <div class="scroll">
      <div id="gameSelection">
        <div class="game slot" data-id="1">
          <h3>Verstecken</h3>
          <p class="gmDescription">Ist der Spielercharakter in einer Situation in der er sich nicht rühren sollte? Bei dieser Prüfung darf der Spieler sich und sein mobiles Gerät nicht bewegen.<span class="tipp">Tipp:</span>Achte darauf, dass die Spieler ihr mobiles Gerät frei in Händen halten und nirgendwo auflegen.</p>
          <p class="pDescription">Heimlich still und leise bist du nur wenn du dich und dein mobiles Gerät nicht bewegst.<span class="tipp">Tipp:</span>Bringe dich in eine Position in der du lange verharren kannst bevor du die Probe startest.</p>
        </div>
        <div class="game slot" data-id="2">
          <h3>Abschütteln</h3>
          <p class="gmDescription">Passend für Situationen in denen der Spieler sich aus festen Griffen befreien muss, oder von Krabbeltieren befallen ist.</p>
          <p class="pDescription">Schüttel dich und dein Gerät.<span class="tipp">Tipp:</span>Versuche dein Gerät mit so viel Schwung wie möglich zu schütteln.</p>
      </div>
        <div class="game slot" data-id="3">
          <h3>Balancieren</h3>
          <p class="gmDescription">Prüfe die Geschicklichkeit der Spieler beim Balancieren. Das Gerät muss dabei vorsichtig nach links und rechts geneigt werden.<span class="tipp">Tipp:</span>Achte darauf, dass die Spieler das Gerät im 90-Grad-Winkel senkrecht vor sich halten.</p>
          <p class="pDescription">Neige dein Gerät nach rechts und links, so dass der grüne Balken für dich waagerecht zu sehen ist. Deine aktuelle Neigung wird durch einen weißen Balken angezeigt.<span class="tipp">Tipp:</span>Halte dein Gerät im 90-Grad-Winkel senkrecht vor dir.</p>
      </div>
        <div class="game slot" data-id="4">
          <h3>Klettern</h3>
          <p class="gmDescription">Erst rechts, dann links, dann wieder rechts ... mit dem mobilen Gerät in der Hand, so wird geklettert.<span class="tipp">Tipp:</span>Achte darauf, dass die Spieler das Gerät im 90-Grad-Winkel senkrecht vor sich halten.</p>
          <p class="pDescription">Neige das Gerät abwechselnd nach rechts und links, so kletterst du Balken für Balken weiter.<span class="tipp">Tipp:</span>Halte dein Gerät im 90-Grad-Winkel senkrecht vor dir.</p>
      </div>
        <div class="game slot" data-id="5">
          <h3>Schwimmen</h3>
          <p class="gmDescription">Wer nicht schwimmt ertrinkt. Die Spieler müssen Schwimmbewegungen auf den Bildschirm zeichnen.</p>
          <p class="pDescription">Zeichne mit deinen Fingern die Schwimmbewegungen auf dem Bildschirm nach.<span class="tipp">Tipp:</span>Schwimmbewegungen die bis zum Ende durchgeführt wurden sind effektiver als kurze Bewegungen.</p>
      </div>
        <div class="game slot" data-id="6">
          <h3>Rennen</h3>
          <p class="gmDescription">Lass die Spielercharaktere ihre Füße in die Hand nehmen und die Spieler mit den Fingern über den Bildschirm rennen.</p>
          <p class="pDescription">Lass deine Finger über den Bildschirm rennen. Zeichne mit deinen Fingern die Rennbewegungen auf dem Bildschirm nach.<span class="tipp">Tipp:</span>Schritte die bis zum Ende durchgeführt wurden sind effektiver als kurze.</p>
      </div>
        <div class="game slot" data-id="7">
          <h3>Sammeln</h3>
          <p class="gmDescription">Gibt es viel zu sammeln? Dann lass die Spieler mit den Fingern Pflücken, Rupfen und Zupfen was das Zeug hält.<span class="tipp">Tipp:</span>Achte darauf, dass die Spieler mit nur einer Hand pflücken.</p>
          <p class="pDescription">Pflücke, rupfe und zupfe was das Zeug hält. Nutzer dafür die Pinch-In- oder Wegzoom-Geste, so als würdest du deinen Bildschirm zwicken wollen.<span class="tipp">Tipp:</span>Am einfachsten kannst du in der Bildschirmmitte pflücken.</p>
      </div>
      </div>
    </div>
  </div>
</div>
